@model IEnumerable<SmartPrint.Models.Users>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserEmail)
        </th>
        <!--<th>
            @Html.DisplayNameFor(model => model.UserPass)
        </th>-->
        <th>
            @Html.DisplayNameFor(model => model.UserTypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UStatusId)
        </th>
      <!--  <th>
            @Html.DisplayNameFor(model => model.AddedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EditedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EditedOn)
        </th>-->
        <th>
            @Html.DisplayNameFor(model => model.RowStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserEmail)
        </td>
         <!--<td>
           @Html.DisplayFor(modelItem => item.UserPass)
        </td>-->
        <td>
            @Html.DisplayFor(modelItem => item.UserTypes.UserType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UStatus.UStatusName)
        </td>
        <!--<td>
            @Html.DisplayFor(modelItem => item.AddedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EditedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EditedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RowStatus)
        </td>-->
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserId }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserId })
        </td>
    </tr>
}

</table>
