@model IEnumerable<SmartPrint.Models.UserTypes>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserType)
        </th>
        <!--<th>
            @Html.DisplayNameFor(model => model.AddedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EditedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EditedOn)
        </th>-->
        <th>
            @Html.DisplayNameFor(model => model.StatusId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserType)
        </td>
        <!--
        <td>
            @Html.DisplayFor(modelItem => item.AddedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EditedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EditedOn)
        </td>-->
        <td>
            @Html.DisplayFor(modelItem => item.RStatus.StatusName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserTypeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserTypeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserTypeId })
        </td>
    </tr>
}

</table>
