<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <!--<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />-->
    <link href="~/Content/flatly.bootstrap.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/Content/typeahead.css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">
                    <img style="max-width:190px; margin-top: -20px;" src="~/Content/logos/default-logo.png">
                </a>
            </div>
            
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a href="@Url.Action("Index", "Users")">User</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "UserTxns")">User Transactions</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "UserDocs")">User Docs</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "PrintJobs")">Print Jobs</a>
                    </li>
                    <li>
                        
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    
                        @if (@User.Identity.IsAuthenticated)
                        {
                            <li class="dropdown">
                                <a href="@Url.Action("Index", "Home")" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Hello @User.Identity.Name <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="@Url.Action("Logout", "Auth")">
                                            Logout
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li>
                                @Html.ActionLink("Login", "Index", "Home", new { area = "" }, new { })
                            </li>
                        }
                </ul>
            </div>
        </div>
    </nav>
    @*@Html.ActionLink("Hello " + @User.Identity.Name + "!", "Index", "Home", new { area = "" }, new { })*@
    <div class="container body-content">
        @RenderBody()
       
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Prokhara University</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
    
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/typeahead.bundle.min.js"></script>
    <script src="~/Scripts/typeahead.mvc.model.js"></script>
    <script type="text/javascript">
        $.validator.setDefaults({
            ignore: []
        });
    </script>
</body>
</html>