@model SmartPrint.Models.Users
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@Html.ValidationSummary(true)
@using (Html.BeginForm())
{
    @Html.LabelFor(u=> u.UserEmail) <br/>
    @Html.TextBoxFor(u => u.UserEmail) <br />
    @Html.LabelFor(u=> u.UserPass) <br/>
    @Html.PasswordFor(u=> u.UserPass) <br/>


}
