@model SmartPrint.Models.UserTxns

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserTxns</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TxnType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TxnType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TxnAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TxnAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TxnDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TxnDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TxnBalance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TxnBalance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TxnRefJobId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TxnRefJobId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TxnStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TxnStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EditedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EditedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EditedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EditedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TxnId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
