@model IEnumerable<SmartPrint.Models.UserTxns>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TxnType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TxnAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TxnDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TxnBalance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TxnRefJobId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TxnStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EditedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EditedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TxnType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TxnAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TxnDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TxnBalance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TxnRefJobId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TxnStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EditedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EditedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TxnId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TxnId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TxnId })
        </td>
    </tr>
}

</table>
