@model IEnumerable<SmartPrint.ViewModels.UserTransactionViewModel>

@{
    ViewBag.Title = "User Transations";
}

<h2>User Transactions (Top up and print jobs)</h2>

<p>
    @Html.ActionLink("Top up user accounts", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransactionTypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransactionAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransactionDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransactionBalance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransactionReferenceJobId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NameOfUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionBalance)
        </td>
        <td>
            @if(item.TransactionReferenceJobId != 0) {
                @Html.ActionLink(@item.TransactionReferenceJobId.ToString(),"Details","PrintJobs",new { id = item.TransactionReferenceJobId},new { })
            }
            
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TransactionId })
        </td>
    </tr>
}

</table>
