@model IEnumerable<SmartPrint.ViewModels.UserTransactionViewModel>

@{
    ViewBag.Title = "My Transations";
    var pageHeading = "My Transactions (Top up and print jobs)";
}
@if (ViewBag.IsUserAdmin)
{
    ViewBag.Title = "User Transations";
    pageHeading = "User Transactions (Top up and print jobs)";
}

<h2>@pageHeading</h2>
@if (ViewBag.IsUserAdmin)
{
    <div class="row">
        <div class="col-md-2">
            @Html.ActionLink("Top up user accounts", "Create", "UserTxns", new { }, new { @class = "btn btn-default" })
        </div>
        <div class="col-md-10">
            @using (Html.BeginForm("Index", "UserTxns", FormMethod.Post, new { @class = "form-inline pull-right" }))
            {
                <div class="form-group">
                    @Html.TextBox("SearchTerm", (string)ViewBag.SearchTerm, new { @class = "form-control", placeholder = "Name of User" })
                </div>
                <input type="submit" value="Search" class="btn btn-primary" />
            }
        </div>
    </div>
    <div class="row"><div class="form-group"></div></div>
}

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TransactionTypeId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TransactionAmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TransactionDateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TransactionBalance)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TransactionReferenceJobId)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NameOfUser)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TransactionTypeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TransactionAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TransactionDateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TransactionBalance)
                    </td>
                    <td>
                        @if (item.TransactionReferenceJobId != 0)
                        {
                            @Html.ActionLink(@item.TransactionReferenceJobId.ToString(), "Details", "PrintJobs", new { id = item.TransactionReferenceJobId }, new { })
                        }

                    </td>
                    <td>
                        @if (ViewBag.IsUserAdmin)
                        {
                            @Html.ActionLink("Edit", "Edit", new { id = item.TransactionId })
                        }
                    </td>
                </tr>
            }

        </table>
    </div>
</div>


