@model IEnumerable<SmartPrint.ViewModels.UserDocsViewModel>

@{
    ViewBag.Title = "My Documents";
    var pageHeading = "My Documents";
}

@if (ViewBag.IsUserAdmin)
{
    ViewBag.Title = "User Documents";
    pageHeading = "User Documents";
}

<h2>@pageHeading</h2>

<div class="row">
    <div class="col-md-2">
        @Html.ActionLink("Upload New Document", "Create", "UserDocs", new { }, new { @class = "btn btn-default" })
    </div>
    @if (ViewBag.IsUserAdmin)
    {
    <div class="col-md-10">
        @using (Html.BeginForm("Index", "UserDocs", FormMethod.Post, new { @class = "form-inline pull-right" }))
        {
            <div class="form-group">
                @Html.TextBox("SearchTerm", (string)ViewBag.SearchTerm, new { @class = "form-control", placeholder = "Name of User" })
            </div>
            <input type="submit" value="Search" class="btn btn-primary" />
        }
    </div>
    }
</div>
<div class="row">
    <div class="form-group"></div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DocumentName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NameOfUser)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DocumentCreationDate)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DocumentName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NameOfUser)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DocumentCreationDate)
                    </td>
                    <td>
                        @Html.ActionLink("Print Job", "Create", "PrintJobs", new { id = item.DocumentId }, null) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.DocumentId })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>


